<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<!-- 控制台 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p -  %m%n"/>
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true"/>
		<param name="File" value="/Users/luohui/workspace/workspace_local/logs/codeset/codeset.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c] [%p] - %m%n"/>
		</layout>
	</appender>

	<logger name="com.luohui">
		<level value="DEBUG"/>
		<appender-ref ref="FILE"/>
	</logger>
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
	</root>
</log4j:configuration>
